.Menu {
    $height: 2rem;

    display: flex;
    flex-flow: nowrap row;

    line-height: $height;

    &-Entry {
        position: relative;
    }

    &-Entry &-Control {
        padding: 0 .6rem;
    }

    &-Content {
        position: absolute;
        top: $height;
        background: red;

        display: flex;
        flex-flow: column nowrap;
    }

    &-Content &-Control {
        min-width: 60px;
        text-align: left;
        padding: 0 .6rem;
    }
}
